
$body-bg-color: linear-gradient(45deg, #cc3446, #f79f42, #f844cb);
$body-bg-size: 300% 300%;
$body-bg-animation-duration: 12s;

$bubble-size: 300px;
$bubble-font-family: "Honk", system-ui;
$bubble-font-size: 70px;
$bubble-line-height: 150px;
$bubble-box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.25);
$bubble-animation-duration: 6s;

$directions-width: 400px;
$directions-font-family: "Protest Riot", sans-serif;

$chart-font-size: 50px;

$score-font-size: 70px;
$score-font-family: "Protest Riot", sans-serif;
